<div class="payment">
  <h4><%= email_for payment %> <i class="fa fa-long-arrow-right"></i> <%= amount_for payment %></h4>
  <li class="date hidden">Date: <%= date_for payment %></li>
  <li class="amount <%= date_for payment %> hidden">Amount: <%= amount_for payment %></li>
</div>

