<h1>Sign In</h1>

<%= form_for @user, url: 'authenticatexe32' do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email%><br>
  <%= label_tag :password %>
  <%= password_field_tag :password %><br>
  <%= f.submit "Sign In" %>
<% end %>