<%= link_to(lesson_info_path(contact.user, contact), remote: true, class: "view")  do %>
  <li class="contact-hover view">
    <h3 class="list-title light-green contact-name <%= contact.id %>">
      <%= contact.full_name %>
    </h3>
    <div class="contact-toggle contact-hidden">
      <div class='contact-show'>
        <p><i class="fa fa-phone fa-lg"></i> <%= contact.phone %></p>
        <p><i class="fa fa-envelope-o fa-lg"></i> <%= contact.email %></p>
        <p><i class="fa fa-home fa-lg"></i> <%= contact.address %></p>
      </div>
    </div>
  </li>
<% end %>
  <script type="text/javascript">ContactHover.bindEvents();</script>