<h2><%= @contact.full_name %></h2>
<p>Phone: <%= @contact.phone %></p>
<p>Email: <%= @contact.email %></p>
<p>Address: <%= @contact.address %></p>

<%= link_to 'Edit', "#{request.path}/#edit", remote: true %>