<!-- what is causing this to disappear, i.e. why is layouts/application not rendering? -->
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<!-- end of question area -->

<h2><%= @contact.full_name %></h2>
<p>Phone: <%= @contact.phone %></p>
<p>Email: <%= @contact.email %></p>
<p>Address: <%= @contact.address %></p>

<%= link_to 'Edit', "#{request.path}/edit", remote: true, class: 'edit-contact' %>
<%= button_to 'Delete', "#{request.path}", :method=>:delete, class: 'edit-contact' %>