<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= appointment.title %>
</p>

<p>
  <b>Description:</b>
  <%= appointment.description %>
</p>

<p>
  <b>Start time:</b>
  <%= appointment.start_time.strftime("%I:%M %p") %>
</p>

<p>
  <b>End time:</b>
  <%= appointment.end_time.strftime("%I:%M %p") %>
</p>


<%= link_to 'Edit', edit_appointment_path(appointment) %> |
<%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } %>
