<p>
  <%= appointment.start_time.strftime("%l:%M") %> - <%= appointment.start_time.strftime("%l:%M %P") %> <%= appointment.title %>
</p>

<p>
  Notes: <%= appointment.description %>
</p>

<%= link_to 'Edit', edit_appointment_path(appointment), class: "show-edit-form", remote: true %> |
<%= link_to 'Delete', appointment, remote: true, method: :delete,  class: "delete-appointment" %>
