<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @appointment.title %>
</p>

<p>
  <b>Description:</b>
  <%= @appointment.description %>
</p>

<p>
  <b>Date:</b>
  <%= @appointment.date %>
</p>

<p>
  <b>Start time:</b>
  <%= @appointment.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @appointment.end_time %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
